[Unit]
Description=Time Info Service
After=network.target

[Service]
ExecStart=/usr/local/bin/timeinfo_server
Restart=on-failure

[Install]
WantedBy=multi-user.target

